a:link {color:#000;}
a:visited {color:#000;}
a:hover {color:#000;}
a:active {color:#000;} 

body {
    min-width: 410px;
    font-size: 14px;
    font-family: Georgia;
    overflow: hidden;
}

input[type="text"], input[type="password"], input[type="number"] {
    display: inline-block;
    border: 1px solid #BBB;
    border-radius: 5px;
    padding: 6px;
    margin: 2px;
    width: 210px;
    height: 15px;
}

input:invalid,
input:out-of-range {
    border-color: hsl(0, 50%, 50%);
    background: hsl(0, 50%, 90%);
}

input.warning {
    border-color: rgb(200, 200, 180);
    background: rgb(252, 248, 227);
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    height: 15px;
}

label.checkbox {
    width: auto;
    padding-right: 5px;
    text-align: left;
    height: 15px;
}

#password-length {
    width: 30px;
    height: 15px;
}

#reset-count-label {
    margin-left: 5px;
    width: 90px;
    height: 15px;
}

#reset-count {
    display: inline-block;
    width: 17px;
    height: 15px;
    text-align: center;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    -moz-appearance: textfield;
    background-color: transparent;
}

#reset-count-control {
    margin-left: 5px;
}

#reset-count-control a {
    text-decoration: none;
    border: 1px solid #BBB;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 10px;
    height: 15px;
    display: inline-block;
    text-align: center;
}

#allow-symbols {
    margin-left: 15px;
    height: 15px;
}

.button {
    background: -webkit-gradient(linear, left top, left bottom,
                color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background-color: #f9f9f9;
    border-radius: 5px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: Georgia;
    font-size: 14px;
    height: 27px;
    width: 70px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom,
                color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background-color: #e9e9e9;
}

#options .settings {
    margin-top: 5px;
    text-align: center;
}
